body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}

.header .logo{
  flex-grow: 2;
}

.header .logo h3{
  font-weight: 300;
  text-transform: uppercase;
}

/*flex: 1 1 auto; se comparte el mismo espacio entre elementos*/
.header nav{
  flex-grow: 1;
}
.header nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a{
  color:black;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover{
  color: orangered;

}

.content{
  min-height: 400px;


}


.footer{
  min-height: 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 60px;
  padding-top: 45px;
  border-top: 3px solid black;
  background: #f5f5f5;
  color: #444;
}

.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 60px;
}

.home h2{
  color: #444;
  font-weight: lighter;
}

.home .title a{
  padding: 5px;
  background-color: #fa4529;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: all 300ms;
}

.home .title a:hover,
input[type="submit"]:hover,
button:hover{
  background-color: green;
}



.page .heading,
.home .heading {
  font-size: 35px;
  font-weight: 500;
  color: black;
  font-style: italic;
  margin-bottom: 0px;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
}

.home p{
  color: #444;
}

input[type="text"],
textarea{
  display: block;
  padding: 15px;
  width: 250px;
  margin-top: 25px;

}

input[type="submit"],
button{
  font-size: 15px;
  padding: 15px;
  margin-top: 15px;
  border: 0px;
  background-color: #fa4529;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;
}




.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  flex-basis: 30%;
  flex-grow: 1; /*para que se comparta el mismo espacio*/

  margin: 30px;
}

.work-item .mask{
  width: 100%;
  height: 350px;
  overflow:hidden;
  box-shadow: 0px 5px 15px gray;
}

.work-item img{
  width: 120%;
  transition: all 500ms;
}

.work-item .mask:hover img{
  width: 110%;
  margin-right: 5%;
  
}

.work-item img{
  width: 100%;
}

.work-item span{
  display: block;
  color:gray;
  margin-top: 35px;
}

.work-item h2{
  display: block;
  font-size: 30px;
  color:black;
  margin-top: 5px;
  margin-bottom: 10px;
}

.work-item a{
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.work-item a:hover{
  color: orangered;

}

.work-item h3{
  display: block;
  color: gray;
  padding-top: 15px;
  margin-top: 0px;
  border-top: 1px solid #ddd;
}

.page-work .mask{
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px #ccc;

}

